@import "tailwindcss";

@theme {
  --default-font-family: "Alice", serif;

  --color-surface-dark: #573824;
  --color-surface-light-dark: #f0e3c0;
  --color-surface-light: #f0e8c2;

  --color-text-primary: #291b1a;
  --color-text-secondary: #573a37;
  --color-text-on-bg: #f0e8c2;
}

html,
body,
#root {
  min-height: 100%;
  background: #f0e8c2;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #e4ece9;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
